
body{background: #fafafa;}
/*top部分*/
 #top{width: 100%;height: 22px;
     background: #f0f0f0;font-size: 12px;
    }
#left{float:left;height: 22px;margin-left: 28px;}
#right{float:right;height: 22px;margin-right: 28px;color:black;}
#right .topright{float: left;margin-right: 18px;}
#right .topright a{color:#333;font-size: 12px;}
#right .topright span{color:#333;font-size: 12px;}
#right .topright .menu_bd{display: none;}

/*search开始*/
#search{width: 100%;height: 102px;overflow: hidden;line-height: 102px;}
#logo{margin-left:28px ;width:220px;float: left;}
#logo a h1{height: 102px;background:url(../images/logo.png) no-repeat;}

#searchgoods{height: 102px;width:500px;
line-height: 102px;float: left;margin-left: 135px;margin-top: 20px;}
#searchgoods .sinpt1{width: 384px;height: 30px;border:1px solid orange;}
#searchgoods .sinpt2{width:80px ;height: 30px;
font-size: 16px;background: orange;border:1px solid orange}

/*nav开始*/
#nav{width: 100%;height: 40px;background: #ffc400;line-height: 40px;}
#nav #navl{width: 520px;height: 40px;margin-left: 28px;float: left;}
 #navl span{height: 40px;width: 190px;
float: left;display: block;line-height: 40px;
text-align: center;}
 #navl span a{height: 40px;width: 190px;
display: block;line-height: 40px;
font-size: 16px;color:#110f0f;}
 #navl a{height: 40px;line-height: 40px;font-size: 16px;
 color: #110f0f;margin: 0 10px;display: block;float: left;}
 #navl .navtext:hover {background: #110f0f;color: white;}

 #navr{width: 190px;height: 40px;line-height: 40px;
 float:right; border-radius:10px;margin-right: 70px;}
  #navr #cart{width: 125px;height: 25px;background: white;
 display: inline-block;line-height: 25px;text-align: center;
 color:#110f0f;border: none;}
    #navr #account{width: 55px;height: 25px;background: #ffde00;display: inline-block;line-height: 25px;
    color:#110f0f;text-align: center;}

/*banner begin*/
#banwrap{width: 100%;height: 492px;position: relative;}

 #banlist1{position: absolute;width: 100%;height: 492px;
 left:0px;top:164px;}
 #banlist1 li,#banlist1 li img{ position: absolute;width: 100%;height: 492px;}
#ban{height: 492px;margin: 0 28px;position: relative;
}
#banl{height: 492px;
position: relative;display: block;float: left;
}
#banl ul li{width: 190px;height: 33px;line-height: 33px;text-align: center;}
#banl ul li a{width: 190px;height: 33px;line-height: 33px;
text-align: center;display: block;background: #f6f6f6;}
#banl ul li a span{margin-right:14px ;font-size: 20px;}
#banl ul li a:hover{background: #fff;color:orange;}
 
#banr{width: 228px;height: 492px;float: right;}
#banr dl{width:228px;height: 178px;margin-top: 0;}
#banr dl dt{width: 228px;height: 42px;}
#banr dl dd{width: 228px;height: 121px;background: rgba(0,0,0,0.1);padding-top: 15px;}
#banr dl dd a{line-height: 20px;color: #110f0f;}
#banr dl dt h2{width: 225px;height: 42px;background: #fff;
display:block;line-height:42px ;text-align: center;}
#banr .coll a img{display: block;width: 228px;}

/*secondkill begin*/

#skill{width: 1200px;height: 274px;margin: 20px 28px;}
#miaosha{width: 190px;height: 267px;float:left;
background: url(../images/miaosha_bj.jpg);}
#miaosha ul{position: relative;top: 170px;margin: 0;padding: 0;}
#miaosha ul li span{float:left;margin-left:28px ;color: white;
font-size: 22px;font-weight: 900px;display: inline-block;background: black;
}

#killgoods{float: left;width: 1010px;}
#killgoods ul li{height: 274px;width: 200px;float: left;margin: 0;padding:0;}
#killgoods ul li {font-size: 18px;color:#fff;background: #fff;
font-weight: 600;border-left: 2px solid #fafafa;}
#killgoods ul li dl dt{width: 200px;height: 181px;
line-height: 160px;text-align: center;}
#killgoods ul li dl dt img{width: 150px;height: 150px;}

#killgoods ul li dl dd{width: 200px;height: 85px;text-align: center;}
#killgoods ul li dl dd {width: 200px;height: 80px;}

#killgoods ul li dl dd .goodsname{width: 175px;height: 22px;line-height: 22px;
font-size: 15px;color: #470100;overflow: hidden;}

#killgoods ul li dl dd .prompt {width: 120px;height: 20px;line-height: 20px;
overflow: hidden;display: block;margin-left: 35px;}
#killgoods ul li dl dd .prompt h3{color: #1f0100;font-size: 13px;}
#killgoods ul li dl dd .prompt span{color: #737373;font-size: 13px;}


#killgoods ul li dl dd .wrapprice h2{width: 115px;height: 30px;margin-left: 8px;
background: red;display: block;color: white;border: 1px solid red;float: left;
font-size: 17px;font-weight: 900;}
#killgoods ul li dl dd .wrapprice h2 span{font-size: 11px;color: white;text-decoration:line-through ;}
#killgoods ul li dl dd .wrapprice {margin-top:5px ;}
#killgoods ul li dl dd .wrapprice h4{width: 66px;height: 30px;
background: #fff;display: block;color: red;float: left;border: 1px solid red;
font-size:15px;font-weight: 500;line-height: 30px;text-align: center;}

/*main begin*/
/*nav begin*/
.mainnav{width: 1200px;height:70px;margin: 0 28px;background: #fafafa;border-bottom:2px solid #666 ;line-height: 95px;}

.mainnavl{height:70px;position: absolute;left:30px;}
.mainnavl b{font-size:25px ;color: #110f0f;font-weight:normal ;}
.mainnavl span{font-size:25px ;color: #110f0f;}

.mainnavr{height:70px;position: absolute;right: 0;}

.mainnavlist{height:70px;float: left;}
.mainnavlist li{float:left;display: block;margin-right: 25px;}
.mainnavlist li a{color:#110f0f;font-size:13px ;display: block;}
.mainnavlist li a:hover{color:red;}

	/*main product begin*/
.mainphone{width: 1215px;height:488px;margin: 0 28px;position: relative;
background: white;}	
.mainl{float:left;margin: 0;}
.mainll{float: left;}
.mainlr{float:left;}

.mainr{width: 612px;height: 425px;float:right;margin: 0;}

.mainlist li{float: left;width: 200px;height: 209px;border-left:2px solid #fafafa ;
border-bottom:2px solid #fafafa ;background: white;}
.mainlist li a img{float: left;width: 203px;height: 158px;}

.mainlist li dl dd{text-align: center;}
.mainname{width: 170px;height: 18px;line-height: 18px;font-size: 14px;
display: block;overflow: hidden;color:#110f0f;text-align: center;margin-left: 25px;
}
.mainprice{width: 55px;height: 22px;
line-height:28px;color: red;margin-left: 80px;font-size: 14px;}
/*添加品牌*/
.mainbrand li{width: 150px;height: 70px;background: white;
float: left;}

.mainshoes{width: 1215px;height:488px;margin: 0 28px;position: relative;
background: white;}	